node_modules
dist
dist_*
deprecated
package-lock.json
.VSCodeCounter
.DS_Store
yarn.lock
.vscode
.idea
*.sql
/src/communication/communication.js
/deployment/ssh-port-forward-internal/ssh_pids.txt
.env
