// 预设的公共class样式
.transition-400 {
    transition: 0.4s;
}

.transition-200 {
    transition: 0.2s;
}

.opacity-for-preview {
    position: absolute;
    z-index: 999;
    opacity: 0.4;
}

.active-box-shadow {
    box-shadow: 0 0 4px var(--active-color);
}

.hard-shadow {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.18);
}

.locked-pointer-moss-0922 {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("@/assets/cursor/scale.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    z-index: 10000;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgba(250, 250, 250, 1);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    user-select: none; //禁止复制内容
    position: relative;
    overflow: hidden;
    --webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
        height: 0;
        width: 0;
    }

}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

input,
button,
textarea {
    font-family: var(--font-family);
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
}

.update-text {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 6px;
    width: 380px;

    .title {
        width: 380px;
        height: 64px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;

        span {
            font-size: 16px;
            font-weight: var(--font-weight-regular);
            color: #333333;
        }

        svg {
            cursor: pointer;
            width: 24px;
            height: 24px;
            padding: 3px;
            border-radius: 6px;
            box-sizing: border-box;

            &:hover {
                background-color: rgb(243, 243, 245);
            }

            &:active {
                background-color: #EBEBEB;
            }
        }
    }

    .version-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0 20px;
        box-sizing: border-box;

        .des {
            p {
                line-height: 24px;
                font-size: 14px;
                margin: 0;
                margin-top: 4px;
                color: #666666
            }
        }

        .scroll {
            border: 1px solid #F0F0F0;
            border-radius: 6px;
            box-sizing: border-box;

            .detail {
                padding: 12px;

                p {
                    font-size: 13px;
                    line-height: 24px;
                    margin: 0;
                    color: #333333;
                }
            }

        }

    }

    .nowbnt {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px 0 20px 0;
        font-size: 14px;
        width: 110px;
        height: 40px;
        border-radius: 6px;
        background-color: #1878f5;
        color: #fff;

        &:hover {
            background-color: #429AFF;
        }

        &:active {
            background-color: #0A59CF;
        }
    }
}